@use "../foundation/import"as f;

/* ---------------------------- */
/* l-header
/* ---------------------------- */
.l-header {
  &__inner {
    margin: 0 auto;
    display: flex;
    max-width: 1240px;
    height: 100px;
    align-items: center;
    justify-content: flex-end;
  }
  &__list {
    display: flex;
    gap: 0 60px;
  }
  &__item {
    a {
      font-size: f.rem(25);
      @media (min-width: 769px) {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #000;
          transition: all .3s;
          transform: scale(0, 1);
          transform-origin: left top;
        }
        &:hover {
          &::after {
            transform: scale(1,1);
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    &__inner {
      width: 100%;
      height: 50px;
    }
    &__nav {
      position: fixed;
      width: 80%;
      top: 0;
      right: -120%;
      height: 100vh;
      transition: all .5s ease-in-out;
      background-color: f.$lightblue;
      z-index: 999;
      &.is-active {
        right: 0;
        z-index: 999;
      }
    }
    &__item {
      a {
        font-size: f.vwSP(20);
      }
    }
    &__list {
      position: absolute;
      top: f.vwSP(90);
      left: f.vwSP(30);
      gap: 30px 0;
      flex-direction: column;
    }
    &__btn {
      position: fixed;
      right: 15px;
      width: 40px;
      height: 40px;
      z-index: 9999;
      background-color: f.$white;
      border-radius: 50%;
      cursor: pointer;
      span {
        position: absolute;
        left: 10px;
        display: inline-block;
        width: 20px;
        height: 3px;
        border-radius: 2px;
        background-color: f.$lightblue;
        &:first-of-type {
          top: 12px;
        }
        &:nth-of-type(2) {
          top: 18px;
        }
        &:nth-of-type(3) {
          top: 24px;
        }
      }
    }
  }
}